<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>MGMResorts_Maven</id>
			<username>MGMResortsDigitalEngineering</username>
			<!--<password>eabzpfdswygulgzj26q5p7zlo7bs2mx5ef3roh3tq7teyaecrifq</password>-->
		</server>
		<server>
			<id>mgm_repository</id>
			<username>MGMResortsDigitalEngineering</username>
			<!--<password>r7l3hspzops3vfdxxqvbiooesskyovampoubfd6uyrunclk4mthq</password>-->
		</server>
	</servers>
</settings>